* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #dd501d;
}


.nav-title {
    font-size: 40px;
    font-weight: 700px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}
.header{
background-color: #FFF8F3;;

}
.btn-orange {
    color: #ffffff;
    font-weight: 700px;
    font-size: 20px;
    border: 0;
    padding: 18px 36px;
    height: 64px;
    border-radius: 5px;
    background: #dd501d;
}

.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}


.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;

}

.banner-description {
    color:#757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;

}